/*---=== Account-Overview Page ===---*/
h1.account-page-title {
    font-size: 64px;
    color: black;
    margin-bottom: 12px;
}
p.account-page-title-desc {
    font-size: 20px;
    color: #606161;
}
p.account-page-title-desc a {
    color: #606161;
}
.account-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px;
    margin: 50px 0;
}
.account-item-block {
    padding: 20px 30px 25px;
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.aib-title {
    font-size: 17px;
    font-weight: 700;
    color: black;
    margin: 26px 0 10px;
}
.aib-desc {
    color: #9D9D9D;
    font-size: 14px;
    line-height: 22px;
}

@media(max-width: 992px) {
    .account-items-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 600px) {
    .account-items-wrapper {
        grid-template-columns: 100%;
    }
    .account-overview-content.container {
        width: 100%;
    }
}
/*---=== end of Account-Overview Page ===---*/

/*---=== Profile-Info Page ===---*/
.dashboard-page-title {
    font-size: 32px;
    font-family: var(--font-smbold);
    color: #141414;
    margin: 12px auto;
}
h2.dashboard-page-title-desc {
    font-size: 14px;
}
.dashboard-page-header .breadcrumb-item a {
    font-size: 13px;
}
hr.dashboard-page-divider {
    border: none;
    height: 1px;
    background: rgba(119, 119, 119, 0.5);
    margin: 60px 0;
}
.profile-items-wrapper {
    width: 100%;
    max-width: 635px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
fieldset.profile-item-block {
    width: 100%;
    border-bottom: 1px solid rgba(119, 119, 119, 0.5);
    padding-bottom: 20px;
}
.profile-block-header {
    font-size: 14px;
}
button.profile-button {
    background: none !important;
    text-decoration: underline;
}
.profile-block-value {
    font-size: 12px;
    margin: 5px 0;
}
input.profile-inp-field {
    height: 57px !important;
    border: 1px solid rgba(119, 119, 119, 0.5) !important;
    border-radius: 10px !important;
    padding: 0 20px !important;
    box-sizing: border-box !important;
    outline: none !important;
    box-shadow: none !important;
    display: block;
    width: 100%;
    font-size: 14px !important;
}
.input-field-div.profile-inp-field-block label {
    position: relative;
    left: 15px;
    bottom: -4px;
}
.input-field-div.profile-inp-field-block {
    margin: 30px 0 25px;
}
button.profile-save-btn {
    background: var(--pry-color);
    color: white;
    font-size: 16px;
    font-family: var(--font-smbold);
    width: 130px;
    height: 48px;
    border-radius: 10px;
}
input#upload-file.profile-inp-field {
    cursor: pointer;
    padding-top: 15px !important;
}

@media(max-width: 992px) {}

@media(max-width: 600px) {}
/*---=== end of Profile-Info Page ===---*/

/*---=== Payments Page ===---*/
button.add-payment-btn.flex-div {
    background: var(--pry-color);
    color: white;
    gap: 8px;
    width: 200px;
    height: 42px;
    font-size: 15px;
    justify-content: center;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}
.payments-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 14px;
}
.payments-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(119, 119, 119, 0.5);
}
.payment-block-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.delete-btn {
    background: none !important;
    text-decoration: underline;
    color: #D44333;
}

@media(max-width: 992px) {}

@media(max-width: 600px) {
    .payments-wrapper {
        width: 100%;
    }
}
/*---=== end of Payments Page ===---*/